@import url(./__item/photo-grid__item.css);


.photo-grid{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    row-gap: 16px;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    max-width: 1184px;
    margin: 0 auto;
    
    
}
@media screen and (max-width: 1024px) {
    .photo-grid{
        max-width: 928px;
        
    }
}

@media screen and (max-width: 768px){
    .photo-grid{
        max-width: 720px;
    }
}
@media screen and (max-width: 375px){
    .photo-grid{
        max-width: 343px;
        margin: 0 16px 0;
    }
}
