.cover__subtitle{
 
    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;
    max-width: 382px;
    bottom: 190px;
    
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    position: absolute;
    bottom: 48px; 
    right: 34%;
   
}


@media screen and (max-width: 1050px) {
    .cover__subtitle{
        left: 30%;
        max-width: 382px;
        
        
        
    }
}
    
@media screen and (max-width: 850px) {
    .cover__subtitle{
        left: 25%;
        max-width: 382px;
       
        
        
    }
}

@media screen and (max-width: 500px) {
    .cover__subtitle{
        left: 25%;
        max-width: 382px;
        font-size: 14px;
        line-height: 17px;
        
        
    }
}

@media screen and (max-width: 375px) {
    .cover__subtitle{
        left: 10%;
        bottom: 5px;
        max-width: 343px;
       
        font-size: 14px;
        line-height: 17px;
        
        
    }
}