.footer__copyright{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 282px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
            padding-bottom: 20px;
    

    
}

@media screen and (max-width: 768px) {
    .footer__copyright{
    
       padding-bottom: 4px;
        
    }
}

@media screen and (max-width: 375px) {
    .footer__copyright{
       display: block;
       margin-top: 40px;
       margin-bottom: 0;
       padding-bottom: 24px;
     
        
    }
}