.lead__image{
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 768px) {
    .lead__image{
        max-width: 768px;
        height: 420px;
        
        
    }
}
@media screen and (max-width: 450px) {
    .lead-image{
        max-width: 375px;
       height: 211px;
      
      
    }
}
@media screen and (max-width: 375px) {
    .lead-image{
        max-width: 450px;
       
    }
}
@media screen and (max-width: 375px) {
    .lead-image{
        max-width: 320px;
       height: 211px;
    }
}