.comment__image{
    border-radius: 50%;
    max-width: 100%;
    
}



@media screen and (max-width: 768px) {
    .comment__image{
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1; 
        -webkit-align-self: center; 
            -ms-flex-item-align: center; 
                    -ms-grid-row-align: center;
                align-self: center;
    margin-top: 60px;
   
    }
}

