.video__subtitle{
    max-width: 322px;
    font-size: 14px;
    font-weight: normal;
    line-height: 15px;
   
}
@media screen and (max-width: 768px) {
    .video__subtitle{
       margin-bottom: 25px;
       font-size: 14px;
       line-height: 15px;

    }
}
