 
 .footer__nav-links{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    font-size: 24px;
    line-height: 42px;
    font-weight: normal;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0;

}
@media screen and (max-width: 768px) {
    .footer__nav-links{
        font-size: 16px;
        font-size: 27px;
        
    }
}
@media screen and (max-width: 375px) {
    .footer__nav-links{
       
        display: block;
        font-size: 24px;
        line-height: 41px;
        
     
        
    }
}
