.place__website{
     
    -webkit-align-self: end;
    
        -ms-flex-item-align: end;
    
                -ms-grid-row-align: end;
    
            align-self: end;
}
@media screen and (max-width: 375px) {
    .place__website{
       display: none;
    }
}
